@{
    ViewBag.Title = "Home Page";    
}

<h2><span style="color:steelblue"><i>Платформа для создания тестов</i></span></h2>

<div class="row">
    <div class="row">
        <div class="col-lg-12">
            Программа позволяет пользователю создавать тесты, удалять или редактировать уже имеющиеся, а также проходить готовые тесты.
        </div>
    </div>
    <div class="col-md-10">
        <h5>Особенности платформы:</h5>
        <ul>
            <li>Тест включает в себя тему, подтему, попдтему.</li>
            <li>Возможность создания теста на время</li>
            <li>Возможность создавать разные типы тестов, которые могут включать в себя разные типы вопросов (открытый/закрытый и тп.).</li>
            <li>Возможность оценивания теста по итогу (а также возможность отмечать ответ как правильный/неправильный сразу или после окончания теста).</li>
            <li>Возможность просмотра статистики по темам и подтемам (правильность полученных ответов, количество тестов и тп.).</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        @Html.ActionLink("Зарегистрироваться", "Register", "Account")
        <br />
        @Html.ActionLink("Войти", "Login", "Account")
    </div>
</div>






