@{
    ViewBag.Title = "QuizPage";
}

<div class="row">
    <div class="col-md-10">
        <h3 style="color:steelblue">Что вы хотите сделать?</h3>
    </div>
    <div class="col-md-10">
        <h4>Пройти тест:</h4>
        <p><a class="btn btn-default" href=@Url.Action("SelectTest", "Home")>Выбрать тест</a></p>
    </div>
    <div class="col-md-10">
        <h4>Добавить или редактировать тест:</h4>
        <p>
            <a class="btn btn-default" href=@Url.Action("Index", "Test")>Тесты</a>            
        </p>
    </div>
</div>

<div>
    @Html.ActionLink("Назад", "Index")
</div>